:root {
  --bg-color: hsl(30, 38%, 92%);
  --dark-cyan: hsl(158, 36%, 37%);
  --dark-blue: hsl(212, 21%, 14%);
  --dark-gray-blue: hsl(228, 12%, 48%);
}

body {
  background-color: var(--bg-color);
}

.card {
  width: 98%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
}

.btn img {
  width: 25px;
  height: 25px;
}

.card-content {
  margin-left: 25px;
  margin-right: 15px;
  font-family: "Fraunces", sans-serif;
}
.card-content > .type {
  font-family: "Montserrat", sans-serif;
  color: var(--dark-gray-blue);
  letter-spacing: 4px;
  margin-bottom: 0;
  font-weight: 300;
}

.name {
  color: var(--dark-blue);
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 32px;
}

.description {
  font-weight: 300;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: var(--dark-gray-blue);
  margin: 0;
}

.price {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--dark-cyan);
  font-weight: bold;
  font-size: 26px;
  margin: 15px 0;
}

.price span {
  color: var(--dark-gray-blue);
  font-weight: 300;
  font-size: 14px;
  text-decoration: line-through;
}
.btn {
  display: flex;
  gap: 5px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-cyan);
  color: white;
  border-radius: 8px;
  padding: 8px;
}

@media (max-width: 599px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 240px;
  }
  .card {
    padding-bottom: 25px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
}
@media (min-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
    height: 450px !important;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  .card {
    display: flex;
    width: 90%;
    margin-bottom: 10px;
    justify-content: space-evenly;
    gap: 15px;
  }

  .description {
    margin-bottom: 25px;
  }
  .price {
    margin-bottom: 40px;
  }
  .card-content {
    margin-top: 15px;
  }
}

@media (min-width: 650px) {
  .card {
    width: 80%;
  }
}

@media (min-width: 725px) {
  .card {
    width: 70%;
  }
}

@media (min-width: 825px) {
  .card {
    width: 68%;
  }
}

@media (min-width: 850px) {
  .card {
    width: 65%;
  }
}

@media (min-width: 900px) {
  .card {
    width: 60%;
  }
}

@media (min-width: 980px) {
  .card {
    width: 55%;
  }
}

@media (min-width: 1060px) {
  .card {
    width: 50%;
  }
}

@media (min-width: 1100px) {
  .card {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .card {
    width: 45%;
  }
}
